.intro #mobile_logo{
    display: none;
}
.intro #main_logo{
    width: 100%;
}
.intro #intro-text{
    font-family: 'Petit Formal Script', cursive;
    text-align: right;
    font-size: 2.7em;
    font-weight: bold;
    margin-top: -30px;
}

@media (max-width: 990px) {
  .intro #main_logo{
      width: 100%;
  }
}
@media (max-width: 760px) {
  .intro #main_logo{
      display: none;
  }
  .intro #mobile_logo{
    display: block;
    max-width: 500px;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
  }
.intro #intro-text{
    text-align: center;
    font-size: 5vw;
}

}

@media (max-width: 485px) {
  .intro #mobile_logo{
      width: 70%;
  }
.intro #intro-text{
    text-align: center;
    font-size: 1.7em;
    margin-top: -25px;
}
}

#circles{
    margin: auto;
    width: 508px;
}

.circle{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50px;
    border: solid 2px white;
    float: left;
    display: inline-block;
}
.circle:first-child{
    margin-left: 20px;
}

.circle img{
    filter: invert(100%);
    -webkit-filter: invert(100%);
    height: 60%;
    margin-top: 20%;
}
.circle:hover{
    cursor: pointer;
    background-color: white;
}
.circle:hover img{
    filter: none;
    -webkit-filter: none;
}

.swiper-container {
    width: 600px;
    height: 300px;
    border: solid 1px white;
}      